.accountWrapper {
  width: 100%;
  height: 100%;
  padding-top: calc(68 / 16 * 1vw);
  padding-left: calc(250 / 16 * 1vw);
  padding-right: calc(25 / 16 * 1vw);
  padding-bottom: calc(20 / 16 * 1vw);
}

.accountEmpty {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(25 / 16 * 1vw);
  align-items: center;
  justify-content: center;
  margin-top: calc(100 / 16 * 1vw);
}

.accountEmpty > i {
  font-size: calc(40 / 16 * 1vw);
  color: #9da3af;
  padding: calc(25 / 16 * 1vw);
  border-radius: 50%;
  background-color: #f3f4f6;
}

.accountEmpty > p {
  font-size: calc(18 / 16 * 1vw);
  color: rgb(107, 114, 128);
}
