.header {
  display: flex;
  justify-content: space-between;
  padding: calc(14 / 16 * 1vw) calc(40 / 16 * 1vw);
  background-color: white;
  box-shadow: 0 calc(2 / 16 * 1vw) calc(6 / 16 * 1vw) rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.header img {
  width: calc(40 / 16 * 1vw);
  height: calc(40 / 16 * 1vw);
}

.header > a {
  display: flex;
  gap: calc(20 / 16 * 1vw);
  align-items: center;
}

.header > a > p {
  font-size: calc(24 / 16 * 1vw);
  color: var(--brand-color);
}

.headerRight {
  display: flex;
  gap: calc(20 / 16 * 1vw);
  align-items: center;
}

.headerRight > i {
  font-size: calc(20 / 16 * 1vw);
  color: #4b5563;
  position: relative;
  cursor: pointer;
}

.headerRight > i > p {
  font-size: calc(10 / 16 * 1vw);
  color: white;
  width: calc(18 / 16 * 1vw);
  height: calc(18 / 16 * 1vw);
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: calc(-10 / 16 * 1vw);
  right: calc(-10 / 16 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRight > button {
  width: calc(65 / 16 * 1vw);
  height: calc(35 / 16 * 1vw);
  background-color: #2663eb;
  border: none;
  border-radius: calc(7 / 16 * 1vw);
  color: white;
  font-size: calc(14 / 16 * 1vw);
  line-height: 100%;
  font-weight: 400;
}
