.navigation {
  position: fixed;
  height: 100%;
  padding-top: calc(98 / 16 * 1vw);
  box-shadow: 0 calc(2 / 16 * 1vw) calc(6 / 16 * 1vw) rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: calc(20 / 16 * 1vw);
  padding-right: calc(20 / 16 * 1vw);
  width: calc(250 / 16 * 1vw);
  padding-bottom: calc(15 / 16 * 1vw);
  z-index: 9;
}

.navigation > div {
  display: flex;
  flex-direction: column;
  gap: calc(10 / 16 * 1vw);
}

.navigation > div > a {
  display: flex;
  gap: calc(15 / 16 * 1vw);
  width: 100%;
  padding: calc(15 / 16 * 1vw) calc(20 / 16 * 1vw);
  border: none;
  border-radius: calc(12 / 16 * 1vw);
}

.navigation > div > a > p {
  color: #515a68;
  font-size: calc(17 / 16 * 1vw);
  font-weight: 500;
  line-height: 100%;
}

.navigation > div > a > i {
  font-size: calc(16 / 16 * 1vw);
  color: #515a68;
}

.navigation > div > a:hover {
  background-color: #f3f4f6;
}

.navigation > div > a:hover i {
  color: var(--brand-color);
}

.navigation > div > a:hover p {
  color: var(--brand-color);
}

.navigation > p {
  font-size: calc(14 / 16 * 1vw);
  color: rgb(107, 114, 128);
  font-weight: 400;
  text-align: center;
}

.activeNavigation {
  background-color: #dbeafe;
}

.activeNavigation i {
  color: var(--brand-color) !important;
}

.activeNavigation p {
  color: var(--brand-color) !important;
}

.activeNavigation:hover {
  background-color: #dbeafe !important;
}
