.waitAnimationCard {
  border: calc(4 / 16 * 1vw) solid #f3f3f3;
  border-top: calc(4 / 16 * 1vw) solid #3498db;
  border-radius: 50%;
  width: calc(30 / 16 * 1vw) !important;
  height: calc(30 / 16 * 1vw) !important;
  animation: spin 1s linear infinite;
  margin: calc(10 / 16 * 1vw);
}

.waitAnimation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
